#baslik{
    height: 120px;
    background-color: rgb(126, 158, 219);
}

#menuler{
    width: 50%;
    float: right;
}

h1{
    font-family: 'Italianno', cursive;  
    font-weight: bolder;  
    color: rgb(255, 255, 255);
}

body nav ul li{
    float: right;
    list-style-type: none;
    padding: 8px;
    font-size: 20px
}

body nav ul li a { 
    display: block;
    text-decoration: none;
    color: black;
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    border: rgb(39, 14, 153) dashed 1px;
}

body nav ul li a:hover{
    background-color: rgb(27, 27, 199);
    color: white;
}

#footer_part{
    background-color: rgb(23, 20, 55);
}

#mid_part{
    background-image: linear-gradient(to top , rgb(30, 23, 155), rgb(42, 129, 155));
    height: 500px;
}

.register_table{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(65, 109, 111); */
    background-image: linear-gradient(to top , rgb(30, 23, 155), rgb(42, 129, 155));
}
.register_tbody{
    border: 3px solid rgb(189, 17, 17);
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
}
.register_table tr td{
    padding: 5px;
}


#input_first{
    text-align: center;
    align-items: center;
    background-color: red;
}

#input_second{
    text-align: center;
    align-items: center;

}

#middle_part{
    background-image: linear-gradient(to top , rgb(30, 23, 155), rgb(42, 129, 155));
    height: 500px;
}

#input_second div{
    margin: auto;
}
#input_first div{
    margin: auto;
}

#calculate_form{
    background-color: #212529;
    text-align: center;
}

#result_table{
    border-collapse: initial;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid rgb(58, 56, 56);
    border-radius: 50px;
}

#result_table tr td{
    padding: 10 px  ;
    width: 300px;
    height: 50px;
}

